:root{
    --background-black: #000000;
    --dark-grey:#302E2E;
    --dormant-grey:#424350;
    --active-grey:#9e9fa0;
    --white:#ffffff;
    --key-red:#e90404;
    --key-red-compliment:#a00202;
    --darker-red:#ad0303;
    --darkest-red:#4f0606;    

}